@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@400;500;700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/* Hide the default scroll bar */
body::-webkit-scrollbar {
  width: 0.0em;
  background-color: transparent;
}

/* Add custom styling to the scroll bar track */
body::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Add custom styling to the scroll bar thumb */
body::-webkit-scrollbar-thumb {
  background-color: transparent;
}


.banner {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  position: relative;
  object-fit: cover;
  background-size: cover;
  display: block;
  background-position: 50% 50%;
}

.banner h1{
  font-size: 70px;
  font-weight: 900;
  color: #aaf;
}
.banner h3{
  font-size: 30px;
  color: rgb(153, 153, 172);
}

.banner-text-overlay {
  position: absolute;
  left: 8vw;
  bottom: calc(var(--vh, 1vh) * 20);
  z-index: 7;
  display: block;
}

#canvas {
  background-color: #0f172a;
  width: 100%;
  height: 100%;
}
#wrap{
  color: #aaf;
}
#blink:after {
  content:"|";
  opacity: 0;
  animation: cursor 1s infinite;
  }
@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.intro{
    background-color: #0f172a;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    display: flex;
    align-items: center;
}
.intro-container{
  padding-left: 100px;
}
.intro-container h1{
  color: #aaf;
}
.intro-container p{
  color: rgb(153, 153, 172);
}

.profile-image{
  width: 520px;
  height: 525px;
  border-radius: 1%;
  box-shadow:none;
  transition: box-shadow 0.3s ease;
  animation: glowing 2s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 20px #aaf;;
  }
  25% {
    box-shadow: 0 0 30px #aaf;;
  }
  50% {
    box-shadow: 0 0 30px #aaf;;
  }
  75% {
    box-shadow: 0 0 30px #aaf;;
  }
  100% {
    box-shadow: 0 0 20px #aaf;;
  }
}

/* Apply the glowing animation to the image-container */
.profile-image:hover {
  animation: glowing 1s infinite;
}

.intro h1{
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.intro p{
    font-size: 1.3rem;
    padding-bottom: 30px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}


.info{
    background-color: #0f172a;
    padding: 25px;
    height: 600px;
    display: block;
    padding-top: 40px;
    padding-bottom: 70px;
  }
.pro-head{
    padding-top: 100px;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #aaf;

}

  .para{
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
  }
  .p1{
    padding: 50px 30px 50px 30px;    
  }
  .p1 h3{
    padding-bottom: 20px;
    color: #aaf;
    font-weight: bold;
    
  }
  .p1 p{
    text-align: justify;
    font-size: 1 rem;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: rgb(153, 153, 172);
  }

  .btn{
    width: 20%;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background: #aaf;
    cursor: pointer;
    transition: .8s;
    color: white;
    font-size: 0.7rem;
  }
  .btn a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
  }
  .btn:hover{
    font-size: 0.9rem;
    text-decoration: underline;
  }
 
  .image-resize {
    width: 200px;
    height: 200px;
  }

  .btn-1{
    width: 20%;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .8s;
    color: white;
    font-size: 0.7rem;
  }
  .btn-1 a{
    color: white;
    text-decoration: none;
  }
  .btn-1:hover{
    font-size: 0.9rem;
    text-decoration: underline;
  }

  
  ul, li, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  .logo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 80px;
  }
#img{
    position: absolute;
    padding-top: 24px;
    left: 60px;
}
  .inner {
    width: 100%;
    position: flex;
    margin: 0 auto;
  }
  
  header {
    position: fixed;
    background-color: #0f172a;
    width: 100%;
    z-index: 100;
  }
  
  body.header-fixed header {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 0;
    width: 100%;
  }
  
  li {
    list-style: none;
  }
  
  nav {
    overflow: hidden;
  }
  
  nav ul {
    float: right;
  }
  
  nav li {
    display: inline;
    float: left;
  }
  
  nav a {
    display: inline-block;
    color: #aaf;
    text-decoration: none;
    padding: 25px;
    transition: 0.3s all;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
footer{
    background-color: #1b1b1b;
    height: 50vh;
   }
   .footer{
     width: 80%;
     margin: 0 auto;
     color: #fff;
     padding: 100px 0 20px;
   }

   